.Container {
    background-color: #FFFFFF;
    box-shadow: #0000008f 0px 22px 70px 4px, #00000059 0px -50px 36px -28px inset;
    /* box-shadow: #00000059 0px -50px 36px -28px inset; */
    width: 84%;
    margin: 0 auto;
    padding: 1%;
}