.Container {
    background-color: #FFFFFF;
    box-shadow: #0000008f 0px 22px 70px 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    width: 84%;
    margin: 0 auto;
    padding: 1%;
}