.Header {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: 0 0 16px #fc53f4, 0 0 10px #c922a8;
    box-shadow: #1a1f24de 0px 20px 40px -10px;
    margin: 0;
    height: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
}
