.Header {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: 0 0 25px rgb(189, 85, 184), 0 0 5px darkblue;
    box-shadow: #1a1f24de 0px 20px 40px -10px;
    margin: 0;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
}
