.Header {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: #1a1f24de 0px 20px 40px -10px;
    height: 90px;
    text-align: center;
    
}

.Header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 1%;
    margin: 0 auto;
}

.Header__name {
    text-shadow: 0 0 20px #fc53f4, 0 0 18px #c922a8;
}

.Header__links {
    display: flex;
}

.Header__links li {
    list-style: none;
    text-align: end;
    padding: 9px;
}

.Menu__link {
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

.Menu__link--active {
      color: #fc53f4;
      font-weight: bold;
      text-decoration: none;
}