.Footer {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    z-index: 14;
    height: 75px;
    width: 100%;
    display: flex;  
    text-align: center;
    justify-content: center;
    align-items: center;
}