.NotFound {
    background: #F5F5F5;
    min-height: 75vh;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    border-radius: 50%;
    box-shadow: #00000060 0px 0px 16px;
    border: 1px solid #0000001a;
}

.NotFound__howToInstall {
    width: 45%;
    padding-top: 15%;
}

.NotFound__howToInstall .HowToInstall--copy {
    /* box-shadow: none; */
    width: 80%;
}


.NotFound__container {
    display: flex;
}

.NotFound__message-body {
    font-weight: 600;
}


.NotFound__animation--penguin > div {
    height: 15vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotFound__animation--arrow > div {
    height: 20vh;
    z-index: 10;
    position: absolute;
    left: 80%;
    top: 90px;
    transform: rotate(245deg);
}

