.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 55vh;
    width: 40%;
    border-radius: 50%;
}

.NotFound__howToInstall .HowToInstall--copy {
    width: 80%;
}


.NotFound__container {
    display: flex;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NotFound__message-body {
    font-weight: 600;
}

.NotFound__animation--penguin > div {
    height: 15vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotFound__animation--arrow > div {
    height: 12vh;
    z-index: 10;
    position: absolute;
    left: 82%;
    top: 90px;
    transform: rotate(245deg);
}